.react-photo-gallery--gallery>div{
    justify-content: space-evenly;
}
.react-photo-gallery--gallery img{
    height: 500px;
    object-fit: cover;
    object-position: center;
    /* width: 32%; */
    margin: 10px !important;
    outline: 7px solid #fff;
}

@media (max-width: 450px){
    .react-photo-gallery--gallery img{
        height: auto;
        width: 96%;
    }
    /* .react-photo-gallery--gallery>div>img:first-child{
        margin-top: 100px !important;
    } */
    
}